body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0d0d0d;
}
.top-bar {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    background-color: #333;
    padding: 10px;
    position:sticky;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px;
}
.links{
    display: flex;
    flex-direction: row;
}

.links a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
}

.search-icon {
    padding-left: 500px;
    font-size: 18px;
    margin-right: 10px;
}
.sign-in {
    background-color: #858282;
    color: #ffffff;
    border: none;
    width:90px;
    padding: 5px 10px;
    cursor: pointer;
}

.container {
    width: 400px;
    height:350px;
    margin: 60px auto;
    color:#fff;
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #333;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.options p a{
    text-decoration: none;
    padding-left: 5px;
    padding-right:25px;
    color:#007bff;
}
